$body-bg: rgb(33,37,41);
$body-color: #FFFFFF;

$primary: rgb(33,37,41);
$secondary: #ffffff;
$success: #666666;
$blue-400: #3d8bfd;
$theme-colors: (
        "primary": $primary,
        "danger": $secondary,
        "light": $secondary,
        "success": $success,
        "dark": $primary,
        "background": $primary
);

.nav-item a:hover {
  background-color: $blue-400;
}

.bg {
  /* The image used */
  background-image: url('../images/Taniti.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 100%;
}

.hotels {
  height: 100%;
  max-height: 100%;
}

.images {
  height: 100%;
  max-height: 100%;
}

.carousel {
  max-height: 90%;
}

.carousel-item {
  max-height: 90%;
}

.carousel-item image {
  object-fit: cover;
  height: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 40%;
  font-size: x-large;
  background-color: $body-bg;
  height: 100px;
  width: auto;
  border-radius: 25px;
}

.header h1 {
  padding-top: 20%;
  font-size: 8em;
  color: white;
  font-family: "Lucida Calligraphy";
  text-shadow: -1px 1px 0 $primary,
    1px 1px 0 $primary,
    1px -1px 0 $primary,
    -1px -1px 0 $primary;
}

.travel {
  min-height: 100%;
  width: 100%;
}

.travelcard {
  margin-top: 25rem;
  margin-bottom: 14rem;
}

.todo {
  min-height: 100%;
}

.todocard {
  margin-top: 25rem;
  margin-bottom: 14rem;
}

.cards {
  height: 100%;
  padding-top: 5%;
}

.card {
  color: $body-bg;
  margin-left: 5%;
  margin-right: 5%;
}

.accordion {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

body,html {
  height: 100%;
}

.faqh1 {
  margin-top: 15rem;
}

.history h1 {
  padding-top: 15rem;
}

@media (max-width: 500px) {
  .accordion {
    width: 75%;
    margin: 3rem;
  }

}

@media (max-width: 992px) {
  .offcanvas {
    width: 250px !important;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .hotels{
    height: 30% !important;
    object-fit: cover !important;
  }
  .images {
    height: 30%;
    object-fit: cover;
  }

  .hotels img {
    object-fit: cover;
  }

  .images img {
    object-fit: cover;
  }

  .header h1 {
    padding-top: 50%;
    font-size: 3em;
    color: white;
    font-family: "Lucida Calligraphy";
    text-shadow: -1px 1px 0 $primary,
    1px 1px 0 $primary,
    1px -1px 0 $primary,
    -1px -1px 0 $primary;
  }
}
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";



.nav-pills .nav-link.active{
  background-color: $blue-400;
}